### The Stanford Data Project Analysis - Nashville, TN
On a typical day in the United States, police officers make more than 50,000 traffic stops. Our team is gathering, analyzing, and releasing records from millions of traffic stops by law enforcement agencies across the country. Our goal is to help researchers, journalists, and policymakers investigate and improve interactions between police and the public.

### 1.Purpose-of-Analysis
The purpose of the analysis is kind of hollistic approach to explore what we can get out of the data, so I am not sure if there is a specific purpose or question. I will insert all the questions that come to my mind below and will update this notebook frequently. So there are couple of questions we are trying to answer here:
#### 1.1. Is being arrested a gender dependeant?
#### 1.2 Is being arrested a race dependeant? 
#### 1.3 How the race distribution looks like comparing with the actual city race distribution?
#### 1.4. Is the weather a playing factor of increasing/decreasing the tickets rates?
#### 1.5 how the spatial distribution of the tickets looks  like?
#### 1.6 How the spatial distribution of the tickets and gender looks like?
#### 1.7 Do girls make violations at a specific time of the day?
#### 1.8 How the type of violation is distributed around the city?
#### 1.9 Are there any places in the city where speeding is the most common violation?

### 3. Data aquisition
The data of the project is in a form of compressed file hosted online, it will be downloaded and extracted to the project directory. You can always host the data anywhere else and change the pointer in the read csv  line

In [1]:
import pandas as pd
import requests, zipfile, io

In [2]:
url="https://stacks.stanford.edu/file/druid:hp256wp2687/hp256wp2687_tn_nashville_2019_08_13.csv.zip"

In [3]:
r = requests.get(url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall()

In [4]:
tn_raw=pd.read_csv(z.namelist()[0], low_memory=False)

In [5]:
tn=tn_raw.copy()

### 4. Data Exploration
In this step we will select the column of interest and  will drop all the na values in these columns.

In [6]:
tn.shape

(3092351, 42)

In [9]:
tn.isnull().sum()

raw_row_number                          0
date                                    0
time                                 5467
location                                0
lat                                187106
lng                                187106
precinct                           390222
reporting_area                     332393
zone                               390222
subject_age                           839
subject_race                         1850
subject_sex                         12822
officer_id_hash                        11
type                                    0
violation                            8020
arrest_made                            28
citation_issued                       320
warning_issued                        337
outcome                              1935
contraband_found                  2964646
contraband_drugs                  2964646
contraband_weapons                2964646
frisk_performed                        22
search_conducted                       39
search_person                          43
search_vehicle                         41
search_basis                      2964646
reason_for_stop                      8020
vehicle_registration_state          31791
notes                             2579696
raw_verbal_warning_issued             337
raw_written_warning_issued         493091
raw_traffic_citation_issued           321
raw_misd_state_citation_issued     693814
raw_suspect_ethnicity                  77
raw_driver_searched                    30
raw_passenger_searched                  9
raw_search_consent                     21
raw_search_arrest                      13
raw_search_warrant                      0
raw_search_inventory                    2
raw_search_plain_view                   7
dtype: int64

### Data Exploration
In this section we will perform some basic data analysis and exploration tasks in order to understand the data. worth noting also that data comes with shape file that will help in data spatial distrubution.
#### Examining and fixing the data types

In [101]:
tn.head()

,raw_row_number,date,time,location,lat,lng,precinct,reporting_area,zone,subject_age,...,raw_traffic_citation_issued,raw_misd_state_citation_issued,raw_suspect_ethnicity,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view
0,232947,2010-10-10,NaN,"DOMINICAN DR & ROSA L PARKS BLVD, NASHVILLE, T...",36.187925,-86.798519,6,4403.0,611,27.0,...,False,NaN,N,False,False,False,False,False,False,False
1,237161,2010-10-10,10:00:00,"1122 LEBANON PIKE, NASHVILLE, TN, 37210",36.155521,-86.735902,5,9035.0,513,18.0,...,True,NaN,N,False,False,False,False,False,False,False
2,232902,2010-10-10,10:00:00,"898 DAVIDSON DR, , TN, 37205",36.117420,-86.895593,1,5005.0,121,52.0,...,False,NaN,N,False,False,False,False,False,False,False
3,233219,2010-10-10,22:00:00,"MURFREESBORO PIKE & NASHBORO BLVD, ANTIOCH, TN...",36.086799,-86.648581,3,8891.0,325,25.0,...,False,NaN,N,False,False,False,False,False,False,False
4,232780,2010-10-10,01:00:00,"BUCHANAN ST, NORTH, TN, 37208",36.180038,-86.809109,NaN,NaN,NaN,21.0,...,False,NaN,N,True,True,False,False,False,False,False

In [99]:
tn.subject_race.value_counts(normalize=True)

white                     0.540648
black                     0.377243
hispanic                  0.053329
asian/pacific islander    0.013483
unknown                   0.011933
other                     0.003364
Name: subject_race, dtype: float64

In [26]:
tx['date']=pd.to_datetime(tx['date'])
tx.dtypes

date               datetime64[ns]
lat                       float64
lng                       float64
subject_race               object
subject_sex                object
type                       object
citation_issued              bool
speed                     float64
vehicle_color              object
vehicle_make               object
dtype: object

In [27]:
tx.set_index('date',inplace=True)

In [38]:
tx.subject_race.value_counts(normalize=1)*100

white                     62.663390
black                     28.913622
unknown                    4.787207
asian/pacific islander     3.456157
other                      0.179624
Name: subject_race, dtype: float64

In [39]:
tx.subject_sex.value_counts(normalize=1)*100

male      61.754243
female    38.245757
Name: subject_sex, dtype: float64